.pre {
	color: #ff3300;
	font-size: 24px;
	padding-left: 50px;
}

div.image-right {
	float: right;
	margin-left: 30px;
	margin-top: 6px;
}


.current-section p {
	padding-left: 70px;
}

.note {
	font-size: 14px;

}

sup {
	font-size: 10px;
	vertical-align: super;
}


.date {
	font-size: 12px;
	text-align: right;
}

.news {
	margin: 10px 0;
	border-bottom: 1px dashed;
}

.news h2 {
	color: #ff6600;
	margin-bottom: 0;
}

