.pre {
	color: #ff3300;
	font-size: 24px;
	padding-left: 50px;
}

div.image-right {
	float: right;
	margin-left: 30px;
	margin-top: 6px;
}


.current-section p {
	padding-left: 70px;
}

.note {
	font-size: 14px;

}

sup {
	font-size: 10px;
	vertical-align: super;
}