body {
	font-family: 'serif', Arial, Helvetica;
	color: #3e3e3e;
}

footer {
	color: #3e3e3e;
}

footer a {
	color: #5353ff;
	font-weight: bold;
}

h3 {
	color: #006600;
}

a {
	color: #5353ff;
	font-weight: bold;
}
a:hover {
	color: #c5000c;
	text-decoration: underline;
}


.pre {
	color: #ff3300;
	font-size: 24px;
	padding-left: 50px;
}

div.image-right {
	float: right;
	margin-left: 30px;
	margin-top: 6px;
}


.note {
	font-size: 14px;

}

sup {
	font-size: 10px;
	vertical-align: super;
}

@media only screen and (max-width: 767px) {
  #download-zip, #download-tar-gz {
    display: block;
  }
}

.date {
	font-size: 12px;
	text-align: right;
}

.news {
	margin: 10px 0;
	border-bottom: 1px dashed;
}

.news h2 {
	margin-bottom: 0;
}

.history dt {
	display: block;
	color: #5353ff;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 5px;
}
.history dt:hover {
	color: #c5000c;
	text-decoration: underline;
}

.history dd {
	display:none;
}

.socialbutton {
	text-align: right;
	margin-bottom: 15px;
}

.socialbutton div {
	display: inline;
}

.socialbutton div#twitter iframe {
	width: 105px !important;
}

.socialbutton div#facebook_like iframe {
	width: 105px !important;
	height: 20px !important;
}